<h3>{{profile.name}}'s profile</h3>

<img src="/static/img/profile_{{profile.id}}.jpg" alt="">

<p>Hi, I'm {{profile.name}}.</p>
<p>I was born in {{profile.birthyear}}, so that I'm now 
        {{userAge profile.birthyear}} years old.</p>

<p>I work with {{profile.career}}, that's a cool carreer!</p>

<p>Now, let's read my bio: {{profile.bio}}</p>
<p>See you later!</p>